__pycache__/
*.py[cod]
*$py.class
.DS_Store
.AppleDouble
.LSOverride
.flightdeck/
*.app/
FlightDeck.app/
*.log
*.dmg
deb_dist/
build/
dist/
FlightDeck-Windows/
FlightDeck-Windows.zip
FlightDeck-Setup.exe
*.exe
FlightDeck.spec
assets/icon.ico
.flatpak-builder/
flatpak_dist/
*.flatpak
*.egg-info/
